# Visual Studio- en Rider-specifieke bestanden
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sln.iml
*.ReSharper*
*

# VS Code-specifieke bestanden
.vscode/
*.code-workspace

# Build output
bin/
obj/
out/

# NuGet-packages
*.nupkg
packages/

# macOS-specifieke bestanden
.DS_Store
.AppleDouble
.LSOverride

# Windows-specifieke bestanden
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs en caches
*.log
*.cache
*.temp

# Overige
*.bak
*.swp
*.swo
*.pid
